* {
    padding: 0;
    margin: 0;
}

section {
    margin: 80px 8%;
}

/*Nav Start*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.nav-menu {
    display: flex;
    align-items: center;

}

.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #575757;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

.register-button {
    background-color: #1D4ED8;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

/*Nav End*/


/*Hero Area Start*/


.hero-area {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent), url('./images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.hero-content h1 {
    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: -3.2px;
}

.hero-content p {
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 20px;
}

.hero-content .register-button {
    margin-top: 280px;
}

/*Hero Area end*/

/*Speaker Section Start*/

.Speaker-section-top {
    display: grid;
    justify-content: center;
}

.Speaker-section-top h2 {
    font-family: 'Inter', sans-serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 64px;
    text-align: center;
    color: #000000;
}

.speaker-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.speaker-card-container div {
    border: 1px solid #E5E7EB;
    border-radius: 12px;
}

.speaker-card-container div img {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.speaker-card-container div h5 {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #2563EB;
    text-transform: uppercase;
    margin: 16px 0px 0px 16px;
}

.speaker-card-container div h2 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 27.5px;
    text-align: left;
    color: #0D1B2A;
    margin: 8px 0px 0px 16px;
}

.speaker-card-container div h4 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #575757;
    margin: 8px 0px 16px 16px;
}


/*Speaker Section End*/

/*Pricing Section Start*/

.pricing-section-top {
    display: grid;
    justify-content: center;
}

.pricing-section-top h2 {
    font-family: 'Inter', sans-serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 64px;
    text-align: center;
    color: #000000;
}

.pricing-section-top p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #575757;
    margin-top: 16px;
}

.pricing-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 48px 0px;
}

.pricing-card-container div {
    display: grid;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 32px;
    gap: 10px;
}

.pricing-card h3 {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    letter-spacing: 0.32px;
    text-align: left;
    color: #888888;
}

.pricing-card h1 {
    font-family: 'Inter', sans-serif;
    font-size: 44px;
    font-weight: bold;
    line-height: 44px;
    text-align: left;
    color: #0D1B2A;
}

.pricing-card hr {
    border: none;
    border-top: 1px solid #E5E7EB;
    margin: 5px 0;
}

.pricing-card li {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #333333;
    padding: 4px 0px;
}

.Highlight-card {
    background-color: #0D1B2A;
}

.Highlight-card li {
    color: #fff;
}

.Highlight-card h1 {
    color: #fff;
}

.Highlight-card h3 {
    color: #93C5FD;
}

.Highlight-card-title {
    color: rgba(255, 255, 255, 0.5) !important;
}

.Highlight-card hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.Outline-button {
    background-color: #fff;
    color: #1D4ED8;
    padding: 12px 24px;
    border-radius: 5px;
    border: 1px solid #1D4ED8;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    cursor: pointer;
}


/*Pricing Section End*/

/*Footer Area Start*/

footer {
    background-color: #0D1B2A;
    padding: 50px;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
}

.social-links h3{
    display: flex;
    font-family: "Inter", sans-serif;
    font-size: 24;
    color:#fff;
    justify-content: right;
    margin: 0px 90px 10px 0px;
}

.social-icon{
    display: flex;
    justify-content: right;
    gap: 20px;
}

.social-icon i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

footer hr{
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 20px 0;
}



.footer-buttom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.footer-buttom-left p {
    color: rgba(255, 255, 255, 0.4);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.footer-buttom-right ul {
    display: flex;
    justify-content: right;
    gap: 20px;

}

.footer-buttom-right ul li {
    color: rgba(255, 255, 255, 0.4);
    list-style: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}




/*Footer Area End*/